<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.acti.testcases.BaseTest"/>
      <class name="com.acti.testcases.TC01_Login"/>
      <class name="com.acti.testcases.TC02_CreateCustomer"/>
      <class name="com.acti.testcases.TC03_DeleteCustomer"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
